Repository ryu-qqq/Infrastructure: changes, and which Atlantis projects are due for each by the changed paths.
All: bootstrap-prod, kms-prod, network-prod, secrets-prod, rds-prod, cloudtrail-prod, logging-prod, monitoring-prod, route53-prod, acm-prod, atlantis-prod, atlantis-test, ecr-fileflow-prod, fileflow-prod

bootstrap-prod:
  dir: terraform/bootstrap
  workspace: default
  apply_requirements:
  - approved
  - mergeable
  workflow: default

kms-prod:
  dir: terraform/kms
  workspace: default
  apply_requirements:
  - approved
  - mergeable
  workflow: default

network-prod:
  dir: terraform/network
  workspace: default
  apply_requirements:
  - approved
  - mergeable
  workflow: default

secrets-prod:
  dir: terraform/secrets
  workspace: default
  apply_requirements:
  - approved
  - mergeable
  workflow: default

rds-prod:
  dir: terraform/rds
  workspace: default
  workflow: default

cloudtrail-prod:
  dir: terraform/cloudtrail
  workspace: default
  apply_requirements:
  - approved
  - mergeable
  workflow: default

logging-prod:
  dir: terraform/logging
  workspace: default
  apply_requirements:
  - approved
  - mergeable
  workflow: default

monitoring-prod:
  dir: terraform/monitoring
  workspace: default
  apply_requirements:
  - approved
  - mergeable
  workflow: default

route53-prod:
  dir: terraform/route53
  workspace: default
  apply_requirements:
  - approved
  - mergeable
  workflow: default

acm-prod:
  dir: terraform/acm
  workspace: default
  apply_requirements:
  - approved
  - mergeable
  workflow: default

atlantis-prod:
  dir: terraform/atlantis
  workspace: default
  apply_requirements:
  - approved
  - mergeable
  workflow: default

atlantis-test:
  dir: terraform/test
  workspace: default
  apply_requirements:
  - approved
  - mergeable
  workflow: default

ecr-fileflow-prod:
  dir: terraform/ecr/fileflow
  workspace: default
  apply_requirements:
  - approved
  - mergeable
  workflow: default

fileflow-prod:
  dir: terraform/fileflow
  workspace: default
  apply_requirements:
  - approved
  - mergeable
  workflow: default

refactor: Use SSM Parameter Store for Route53 zone cross-stack reference
  terraform/acm/README.md
  terraform/acm/main.tf
  terraform/acm/variables.tf
  terraform/route53/main.tf
Due: route53-prod, acm-prod

fix: Apply kebab-case naming convention to SSM Parameter resources
  terraform/acm/main.tf
  terraform/route53/main.tf
Due: route53-prod, acm-prod

fix: Resolve ACM and logging Terraform plan failures
  terraform/acm/terraform.tfvars
  terraform/modules/cloudwatch-log-group/main.tf
Due: acm-prod

chore: Add .gitkeep to force Atlantis refresh for logging
  terraform/logging/.gitkeep
Due: none

fix: Correct DynamoDB lock table name in backend configs
  terraform/atlantis/variables.tf
  terraform/logging/provider.tf
Due: logging-prod, atlantis-prod

fix: Add aws_cloudwatch_log_subscription_filter to tag validator skip list
  scripts/validators/check-tags.sh
Due: none

chore: Trigger Atlantis plan refresh
  terraform/logging/.gitkeep
Due: none

feat: Add ElastiCache and SQS permissions to Atlantis IAM role
  terraform/atlantis/iam.tf
Due: atlantis-prod

feat: Add elasticache:DescribeCacheParameters permission to Atlantis IAM role
  terraform/atlantis/iam.tf
Due: atlantis-prod

feat: Add FileFlow IAM role/policy read permissions to Atlantis
  terraform/atlantis/iam.tf
Due: atlantis-prod

security: Apply least privilege principle to FileFlow IAM permissions
  terraform/atlantis/iam.tf
Due: atlantis-prod

feat: Add FileFlow IAM permissions to Atlantis (#69)
  terraform/atlantis/iam.tf
Due: atlantis-prod

feat: Recreate RDS instance with 300GB storage
  terraform/rds/terraform.auto.tfvars
Due: rds-prod

fix: Increase max_allocated_storage to 400GB
  terraform/rds/terraform.auto.tfvars
Due: rds-prod

chore: Remove ECR build job from terraform-apply workflow
  .github/workflows/terraform-apply-and-deploy.yml
Due: none

chore: Remove ECR build job from terraform-apply workflow (#71)
  .github/workflows/terraform-apply-and-deploy.yml
Due: none

refactor: Disable GitHub Actions terraform apply workflow
  .github/workflows/terraform-apply-and-deploy.yml
Due: none

refactor: Disable GitHub Actions terraform apply workflow (#72)
  .github/workflows/terraform-apply-and-deploy.yml
Due: none

feat: Increase RDS storage from 30GB to 300GB (max 400GB)
  terraform/rds/terraform.auto.tfvars
Due: rds-prod

feat: Add comprehensive KMS permissions to GitHub Actions Role
  terraform/bootstrap/github-actions.tf
Due: bootstrap-prod

feat: Add comprehensive KMS permissions to GitHub Actions Role (#74)
  terraform/bootstrap/github-actions.tf
Due: bootstrap-prod

feat: Increase RDS storage from 30GB to 300GB (max 400GB) (#73)
  terraform/rds/terraform.auto.tfvars
Due: rds-prod

feat: Add S3 bucket policy permissions to Atlantis IAM role
  terraform/atlantis/iam.tf
Due: atlantis-prod

fix: Extend S3 permissions for Atlantis IAM role
  terraform/atlantis/iam.tf
Due: atlantis-prod

feat: Add CloudFront module and database access documentation
  claudedocs/DB_ACCESS_GUIDE.md
  terraform/modules/cloudfront/CHANGELOG.md
  terraform/modules/cloudfront/README.md
  terraform/modules/cloudfront/examples/basic/main.tf
  terraform/modules/cloudfront/examples/with-s3-origin/main.tf
  terraform/modules/cloudfront/main.tf
  terraform/modules/cloudfront/outputs.tf
  terraform/modules/cloudfront/variables.tf
  terraform/modules/cloudfront/versions.tf
Due: none

feat: Expand Atlantis IAM read permissions for all roles
  terraform/atlantis/iam.tf
Due: atlantis-prod

feat: Add comprehensive AWS service management permissions to Atlantis
  terraform/atlantis/iam.tf
Due: atlantis-prod

feat: Add full infrastructure management permissions to Atlantis
  terraform/atlantis/iam.tf
Due: atlantis-prod

feat: Add Claude Code commands and automation scripts
  SECURITY_CHECKLIST.md
  docs/claude-commands/INSTALL.md
  docs/claude-commands/if/atlantis.md
  docs/claude-commands/if/deploy.md
  docs/claude-commands/if/module.md
  docs/claude-commands/if/validate.md
  scripts/atlantis/add-project.sh
  scripts/atlantis/deploy-config.sh
  scripts/validators/validate-modules.sh
Due: none

docs: Update README.md with latest project status
  README.md
Due: none

chore: Clean up Atlantis configuration for Multi-Repo architecture
  atlantis-file-flow.yaml
  atlantis.yaml
Due: none

docs: Add Multi-Repo architecture documentation
  claudedocs/infrastructure-automation-analysis.md
  docs/architecture/multi-repo-strategy.md
  docs/ko/infrastructure-workflow.md
Due: none

feat: Add powerful module management system with Git-based versioning
  docs/claude-commands/INSTALL.md
  docs/claude-commands/if/module.md
  scripts/modules/module-manager.sh
Due: none

feat: Add shared infrastructure reference system
  docs/claude-commands/INSTALL.md
  docs/claude-commands/if/shared.md
  scripts/shared/shared-infra-manager.sh
Due: none

chore: Remove personal information from documentation
  README.md
  claudedocs/infrastructure-automation-analysis.md
  docs/claude-commands/INSTALL.md
  docs/claude-commands/if/atlantis.md
  docs/claude-commands/if/deploy.md
  docs/claude-commands/if/module.md
  docs/claude-commands/if/shared.md
  docs/claude-commands/if/validate.md
  docs/guides/hybrid-01-overview.md
  docs/guides/hybrid-02-architecture-design.md
  docs/guides/hybrid-03-infrastructure-setup.md
  docs/guides/hybrid-04-application-setup.md
  docs/guides/hybrid-05-deployment-guide.md
  docs/guides/hybrid-08-troubleshooting-guide.md
  docs/guides/hybrid-infrastructure-guide.md
  docs/guides/hybrid-infrastructure-setup-guide-legacy.md
  docs/guides/hybrid-infrastructure-setup-guide.md
  docs/guides/kms-strategy.md
  docs/guides/secrets-management-strategy.md
  docs/ko/infrastructure-workflow.md
  terraform/atlantis/provider.tf
  terraform/atlantis/variables.tf
  terraform/bootstrap/CHANGELOG.md
  terraform/bootstrap/README.md
  terraform/bootstrap/variables.tf
  terraform/cloudtrail/README.md
  terraform/kms/README.md
  terraform/kms/provider.tf
  terraform/logging/provider.tf
  terraform/monitoring/variables.tf
  terraform/network/provider.tf
  terraform/rds/data.tf
  terraform/rds/secrets.tf
  terraform/rds/versions.tf
  terraform/route53/provider.tf
  terraform/secrets/README.md
  terraform/secrets/locals.tf
  terraform/secrets/provider.tf
  terraform/test/main.tf
Due: bootstrap-prod, kms-prod, network-prod, secrets-prod, rds-prod, logging-prod, monitoring-prod, route53-prod, atlantis-prod, atlantis-test

Path conditions:
  bootstrap-prod: any of: terraform/bootstrap/*.tf, terraform/bootstrap/*.tfvars
  kms-prod: any of: terraform/kms/*.tf, terraform/kms/*.tfvars
  network-prod: any of: terraform/network/*.tf, terraform/network/*.tfvars
  secrets-prod: any of: terraform/secrets/*.tf, terraform/secrets/*.tfvars
  rds-prod: any of: terraform/rds/*.tf, terraform/rds/*.tfvars
  cloudtrail-prod: any of: terraform/cloudtrail/*.tf, terraform/cloudtrail/*.tfvars
  logging-prod: any of: terraform/logging/*.tf, terraform/logging/*.tfvars
  monitoring-prod: any of: terraform/monitoring/*.tf, terraform/monitoring/*.tfvars
  route53-prod: any of: terraform/route53/*.tf, terraform/route53/*.tfvars
  acm-prod: any of: terraform/acm/*.tf, terraform/acm/*.tfvars
  atlantis-prod: any of: terraform/atlantis/*.tf, terraform/atlantis/*.tfvars
  atlantis-test: any of: terraform/test/*.tf, terraform/test/*.tfvars
  ecr-fileflow-prod: any of: terraform/ecr/fileflow/*.tf, terraform/ecr/fileflow/*.tfvars
  fileflow-prod: any of: terraform/fileflow/*.tf, terraform/fileflow/*.tfvars
