Repository ryu-qqq/Infrastructure: changes, and which Atlantis projects are due for each by the changed paths.
All: bootstrap-prod, kms-prod, network-prod, secrets-prod, rds-prod, cloudtrail-prod, logging-prod, monitoring-prod, route53-prod, acm-prod, atlantis-prod, atlantis-test

bootstrap-prod:
  dir: terraform/bootstrap
  workspace: default
  terraform_version: v1.12.2
  apply_requirements:
  - approved
  - mergeable
  workflow: default

kms-prod:
  dir: terraform/kms
  workspace: default
  terraform_version: v1.12.2
  apply_requirements:
  - approved
  - mergeable
  workflow: default

network-prod:
  dir: terraform/network
  workspace: default
  terraform_version: v1.12.2
  apply_requirements:
  - approved
  - mergeable
  workflow: default

secrets-prod:
  dir: terraform/secrets
  workspace: default
  terraform_version: v1.12.2
  apply_requirements:
  - approved
  - mergeable
  workflow: default

rds-prod:
  dir: terraform/rds
  workspace: default
  terraform_version: v1.12.2
  apply_requirements:
  - approved
  - mergeable
  workflow: default

cloudtrail-prod:
  dir: terraform/cloudtrail
  workspace: default
  terraform_version: v1.12.2
  apply_requirements:
  - approved
  - mergeable
  workflow: default

logging-prod:
  dir: terraform/logging
  workspace: default
  terraform_version: v1.12.2
  apply_requirements:
  - approved
  - mergeable
  workflow: default

monitoring-prod:
  dir: terraform/monitoring
  workspace: default
  terraform_version: v1.12.2
  apply_requirements:
  - approved
  - mergeable
  workflow: default

route53-prod:
  dir: terraform/route53
  workspace: default
  terraform_version: v1.12.2
  apply_requirements:
  - approved
  - mergeable
  workflow: default

acm-prod:
  dir: terraform/acm
  workspace: default
  terraform_version: v1.12.2
  apply_requirements:
  - approved
  - mergeable
  workflow: default

atlantis-prod:
  dir: terraform/atlantis
  workspace: default
  terraform_version: v1.12.2
  apply_requirements:
  - approved
  - mergeable
  workflow: default

atlantis-test:
  dir: terraform/test
  workspace: default
  terraform_version: v1.12.2
  apply_requirements:
  - approved
  - mergeable
  workflow: default

feat: Add ECR FileFlow infrastructure configuration
  atlantis.yaml
  terraform/ecr/fileflow/data.tf
  terraform/ecr/fileflow/locals.tf
  terraform/ecr/fileflow/main.tf
  terraform/ecr/fileflow/outputs.tf
  terraform/ecr/fileflow/provider.tf
  terraform/ecr/fileflow/variables.tf
Due: none

fix: Remove terraform_version for ecr-fileflow-prod to use server default
  atlantis.yaml
Due: none

fix: Add ECS secrets key ARN to SSM Parameter exports
  terraform/kms/outputs.tf
Due: kms-prod

fix: Use existing S3 backend bucket for ECR state
  terraform/ecr/fileflow/provider.tf
Due: none

fix: Add SSM Parameter read permissions to Atlantis task role
  terraform/atlantis/iam.tf
Due: atlantis-prod

chore: Remove ECR configuration to resolve circular dependency
  atlantis.yaml
  terraform/ecr/fileflow/data.tf
  terraform/ecr/fileflow/locals.tf
  terraform/ecr/fileflow/main.tf
  terraform/ecr/fileflow/outputs.tf
  terraform/ecr/fileflow/provider.tf
  terraform/ecr/fileflow/variables.tf
Due: none

fix: Remove terraform_version from all projects to use server default
  atlantis.yaml
Due: none

feat: Add fileflow infrastructure configuration (KAN-147~166) (#57)
  atlantis.yaml
  docs/guides/hybrid-infrastructure-setup-guide.md
  terraform/atlantis/iam.tf
  terraform/kms/main.tf
  terraform/kms/outputs.tf
  terraform/modules/sqs/outputs.tf
  terraform/network/outputs.tf
Due: kms-prod, network-prod, atlantis-prod

feat: Add GitHub Actions IAM role to Terraform management
  terraform/bootstrap/github-actions.tf
Due: bootstrap-prod

fix: Add IAM OIDC provider read permissions to Atlantis role
  terraform/atlantis/iam.tf
Due: atlantis-prod

fix: Add IAM OIDC provider read permissions to Atlantis role (#59)
  terraform/atlantis/iam.tf
Due: atlantis-prod

fix: Resolve workflow secrets error and temp disable KMS SSM Parameters
  .github/workflows/infra-checks.yml
  terraform/kms/outputs.tf
Due: kms-prod

fix: Resolve workflow secrets error and temp disable KMS SSM Parameters (#60)
  .github/workflows/infra-checks.yml
  terraform/kms/outputs.tf
Due: kms-prod

feat: Add GitHub Actions IAM role to Terraform management (#58)
  terraform/bootstrap/github-actions.tf
Due: bootstrap-prod

feat: Enable KMS SSM Parameter exports
  terraform/kms/outputs.tf
Due: kms-prod

feat: Enable KMS SSM Parameter exports (#61)
  terraform/kms/outputs.tf
Due: kms-prod

feat: Add ECR FileFlow infrastructure with KMS encryption (KAN-147)
  atlantis.yaml
  terraform/ecr/fileflow/data.tf
  terraform/ecr/fileflow/locals.tf
  terraform/ecr/fileflow/main.tf
  terraform/ecr/fileflow/outputs.tf
  terraform/ecr/fileflow/provider.tf
  terraform/ecr/fileflow/variables.tf
Due: none

fix: Update Terraform version requirement to match Atlantis version
  terraform/ecr/fileflow/provider.tf
Due: none

fix: Rename lifecycle variable to lifecycle_stage
  terraform/ecr/fileflow/locals.tf
  terraform/ecr/fileflow/variables.tf
Due: none

fix: Use correct S3 backend bucket name
  terraform/ecr/fileflow/provider.tf
Due: none

fix: Use correct DynamoDB table name for state locking
  terraform/ecr/fileflow/provider.tf
Due: none

feat: Add ECR infrastructure for FileFlow application (KAN-147)
  atlantis.yaml
  terraform/ecr/fileflow/data.tf
  terraform/ecr/fileflow/locals.tf
  terraform/ecr/fileflow/main.tf
  terraform/ecr/fileflow/outputs.tf
  terraform/ecr/fileflow/provider.tf
  terraform/ecr/fileflow/variables.tf
Due: none

feat: Add ECR FileFlow to deployment workflow
  .github/workflows/terraform-apply-and-deploy.yml
Due: none

fix: Remove kms_key_id from ECR backend configuration
  terraform/ecr/fileflow/provider.tf
Due: none

feat: Add FileFlow ECS infrastructure configuration (KAN-147)
  atlantis.yaml
  terraform/fileflow/alb.tf
  terraform/fileflow/data.tf
  terraform/fileflow/database.tf
  terraform/fileflow/ecs.tf
  terraform/fileflow/locals.tf
  terraform/fileflow/outputs.tf
  terraform/fileflow/provider.tf
  terraform/fileflow/variables.tf
Due: none

fix: Update RDS instance identifier to actual name
  terraform/fileflow/data.tf
Due: none

feat: Add SSM Parameter Store exports for RDS cross-stack references
  terraform/rds/outputs.tf
Due: rds-prod

refactor: Use SSM Parameter Store for RDS cross-stack references
  terraform/fileflow/data.tf
Due: none

chore: Temporarily disable approval requirements for RDS and FileFlow
  atlantis.yaml
Due: none

Path conditions:
  bootstrap-prod: any of: terraform/bootstrap/*.tf, terraform/bootstrap/*.tfvars
  kms-prod: any of: terraform/kms/*.tf, terraform/kms/*.tfvars
  network-prod: any of: terraform/network/*.tf, terraform/network/*.tfvars
  secrets-prod: any of: terraform/secrets/*.tf, terraform/secrets/*.tfvars
  rds-prod: any of: terraform/rds/*.tf, terraform/rds/*.tfvars
  cloudtrail-prod: any of: terraform/cloudtrail/*.tf, terraform/cloudtrail/*.tfvars
  logging-prod: any of: terraform/logging/*.tf, terraform/logging/*.tfvars
  monitoring-prod: any of: terraform/monitoring/*.tf, terraform/monitoring/*.tfvars
  route53-prod: any of: terraform/route53/*.tf, terraform/route53/*.tfvars
  acm-prod: any of: terraform/acm/*.tf, terraform/acm/*.tfvars
  atlantis-prod: any of: terraform/atlantis/*.tf, terraform/atlantis/*.tfvars
  atlantis-test: any of: terraform/test/*.tf, terraform/test/*.tfvars
