Repository ryu-qqq/Infrastructure: changes, and which Atlantis projects are due for each by the changed paths.
All: atlantis-prod, atlantis-test

atlantis-prod:
  dir: terraform/atlantis
  workspace: default
  terraform_version: v1.5.0
  apply_requirements:
  - approved
  - mergeable
  workflow: default

atlantis-test:
  dir: terraform/test
  workspace: default
  terraform_version: v1.5.0
  apply_requirements:
  - approved
  - mergeable
  workflow: default

chore: repo-level atlantis.yaml 정리 (IN-22)
  atlantis.yaml
  terraform/test/README.md
  terraform/test/main.tf
  terraform/test/outputs.tf
  terraform/test/variables.tf
Due: atlantis-test

chore: update repos.yaml to register CrawlingHub and FileFlow only
  terraform/atlantis/repos.yaml
Due: none

fix(iam): add prod-connectly S3 bucket access for Atlantis
  terraform/atlantis/iam.tf
Due: atlantis-prod

feat: add workflow_dispatch for manual terraform apply
  .github/workflows/terraform-apply-and-deploy.yml
Due: none

fix: add DynamoDB lock table permissions for prod-connectly-tf-lock
  terraform/atlantis/iam.tf
Due: atlantis-prod

fix: add comprehensive AWS service permissions for Terraform plan operations
  terraform/atlantis/iam.tf
Due: atlantis-prod

fix: add kms:GetKeyRotationStatus and secretsmanager:GetSecretValue permissions for Terraform plan
  terraform/atlantis/iam.tf
Due: atlantis-prod

fix: add ecr:ListTagsForResource permission for Terraform plan
  terraform/atlantis/iam.tf
Due: atlantis-prod

fix: add ecr:GetRepositoryPolicy and ecr:GetLifecyclePolicy permissions for Terraform plan
  terraform/atlantis/iam.tf
Due: atlantis-prod

chore: repo-level atlantis.yaml 정리 (IN-22) (#9)
  .github/workflows/terraform-apply-and-deploy.yml
  README.md
  atlantis.yaml
  docker/Dockerfile
  terraform/atlantis/iam.tf
  terraform/atlantis/repos.yaml
  terraform/atlantis/secrets.tf
  terraform/atlantis/task-definition.tf
  terraform/atlantis/terraform.auto.tfvars
  terraform/atlantis/variables.tf
  terraform/test/README.md
  terraform/test/main.tf
  terraform/test/outputs.tf
  terraform/test/variables.tf
Due: atlantis-prod, atlantis-test

feat(IN-30): Add VPC Endpoints for AWS service optimization
  terraform/atlantis/vpc-endpoints.tf
Due: atlantis-prod

refactor(IN-30): Remove unnecessary egress rule from VPC endpoint security group (Gemini PR#10)
  terraform/atlantis/vpc-endpoints.tf
Due: atlantis-prod

feat(IN-30): Add VPC Endpoints for AWS service optimization (#10)
  terraform/atlantis/vpc-endpoints.tf
Due: atlantis-prod

fix: add required tags to VPC Endpoint resources
  terraform/atlantis/vpc-endpoints.tf
Due: atlantis-prod

fix: exclude aws_secretsmanager_secret_version from tag validation
  scripts/validators/check-tags.sh
Due: none

fix: exclude EFS mount target and access point from tag validation
  scripts/validators/check-tags.sh
Due: none

fix: exclude random provider resources from tag validation
  scripts/validators/check-tags.sh
Due: none

fix: exclude S3 bucket sub-resources from tag validation
  scripts/validators/check-tags.sh
Due: none

fix: rename resources to follow kebab-case naming convention
  terraform/atlantis/vpc-endpoints.tf
  terraform/test/main.tf
Due: atlantis-prod, atlantis-test

fix: format terraform files (efs.tf, service.tf)
  terraform/atlantis/efs.tf
  terraform/atlantis/service.tf
Due: atlantis-prod

fix: improve terraform plan workflow error handling
  .github/workflows/terraform-plan.yml
Due: none

fix: correct resource reference in test outputs.tf
  terraform/test/outputs.tf
Due: atlantis-test

fix: update test project backend to use prod-connectly bucket
  terraform/test/main.tf
Due: atlantis-test

feat: Atlantis infrastructure improvements (GitHub App, VPC Endpoints, Repo-level config) (#11)
  .github/workflows/terraform-apply-and-deploy.yml
  .github/workflows/terraform-plan.yml
  atlantis.yaml
  docs/github-app-setup.md
  scripts/validators/check-tags.sh
  terraform/atlantis/efs.tf
  terraform/atlantis/iam.tf
  terraform/atlantis/service.tf
  terraform/atlantis/vpc-endpoints.tf
  terraform/test/main.tf
  terraform/test/outputs.tf
Due: atlantis-prod, atlantis-test

docs: Add comprehensive network ACL and security validation report (IN-31)
  claudedocs/network-security-validation.md
Due: none

refactor: extract hardcoded values to variables (Gemini PR#12)
  terraform/atlantis/iam.tf
  terraform/atlantis/variables.tf
  terraform/atlantis/vpc-endpoints.tf
Due: atlantis-prod

fix(atlantis): resolve plugin cache race condition
  atlantis.yaml
Due: none

fix(atlantis): disable shared plugin cache to resolve race condition
  atlantis.yaml
Due: none

fix(ci): exclude Atlantis directory from GitHub Actions terraform plan
  .github/workflows/terraform-plan.yml
Due: none

[IN-31] 네트워크 ACL 및 보안 검증 (#12)
  .github/workflows/terraform-plan.yml
  atlantis.yaml
  claudedocs/network-security-validation.md
  terraform/atlantis/iam.tf
  terraform/atlantis/variables.tf
  terraform/atlantis/vpc-endpoints.tf
Due: atlantis-prod

feat(iam): Atlantis AssumeRole 권한 구조 구축
  terraform/atlantis-iam/README.md
  terraform/atlantis-iam/main.tf
  terraform/atlantis-iam/outputs.tf
  terraform/atlantis-iam/test-assume-role.sh
  terraform/atlantis-iam/variables.tf
  terraform/atlantis-iam/versions.tf
Due: none

fix: Apply merge(local.required_tags) pattern for governance compliance
  terraform/atlantis-iam/main.tf
  terraform/atlantis-iam/variables.tf
Due: none

refactor: Simplify to prod-only IAM structure and apply manually
  claudedocs/central-repo-epic-tasks.md
  claudedocs/jira-import.csv
  claudedocs/monitoring-grafana-prometheus-plan.md
  claudedocs/monitoring-managed-vs-selfhosted.md
  claudedocs/monitoring-solution-analysis.md
  docs/guideline.md
  infrastructure.iml
  terraform/atlantis-iam/main.tf
  terraform/atlantis-iam/outputs.tf
  terraform/atlantis-iam/versions.tf
  terraform/bootstrap/IMPORT.md
  terraform/bootstrap/README.md
  terraform/bootstrap/dynamodb.tf
  terraform/bootstrap/kms.tf
  terraform/bootstrap/outputs.tf
  terraform/bootstrap/provider.tf
  terraform/bootstrap/s3.tf
  terraform/bootstrap/terraform.tfvars.example
  terraform/bootstrap/variables.tf
Due: none

fix: Update IAM resource names to follow kebab-case convention
  terraform/atlantis-iam/main.tf
  terraform/atlantis-iam/outputs.tf
Due: none

fix: Update bootstrap resource names to follow kebab-case convention
  terraform/bootstrap/dynamodb.tf
  terraform/bootstrap/kms.tf
  terraform/bootstrap/s3.tf
Due: none

docs: Add Atlantis operations guide and management scripts
  claudedocs/atlantis-operations-guide.md
  scripts/atlantis/README.md
  scripts/atlantis/check-atlantis-health.sh
  scripts/atlantis/export-atlantis-logs.sh
  scripts/atlantis/monitor-atlantis-logs.sh
  scripts/atlantis/restart-atlantis.sh
Due: none

docs: Add Atlantis operations guide and management scripts (#14)
  claudedocs/atlantis-operations-guide.md
  scripts/atlantis/README.md
  scripts/atlantis/check-atlantis-health.sh
  scripts/atlantis/export-atlantis-logs.sh
  scripts/atlantis/monitor-atlantis-logs.sh
  scripts/atlantis/restart-atlantis.sh
Due: none

Path conditions:
  atlantis-prod: any of: terraform/atlantis/*.tf, terraform/atlantis/*.tfvars
  atlantis-test: any of: terraform/test/*.tf, terraform/test/*.tfvars
