Repository ryu-qqq/Infrastructure: changes, and which Atlantis projects are due for each by the changed paths.
All: bootstrap-prod, kms-prod, network-prod, secrets-prod, rds-prod, cloudtrail-prod, logging-prod, monitoring-prod, route53-prod, acm-prod, atlantis-prod, atlantis-test

Path conditions:
  bootstrap-prod: any of: terraform/bootstrap/*.tf, terraform/bootstrap/*.tfvars
  kms-prod: any of: terraform/kms/*.tf, terraform/kms/*.tfvars
  network-prod: any of: terraform/network/*.tf, terraform/network/*.tfvars
  secrets-prod: any of: terraform/secrets/*.tf, terraform/secrets/*.tfvars
  rds-prod: any of: terraform/rds/*.tf, terraform/rds/*.tfvars
  cloudtrail-prod: any of: terraform/cloudtrail/*.tf, terraform/cloudtrail/*.tfvars
  logging-prod: any of: terraform/logging/*.tf, terraform/logging/*.tfvars
  monitoring-prod: any of: terraform/monitoring/*.tf, terraform/monitoring/*.tfvars
  route53-prod: any of: terraform/route53/*.tf, terraform/route53/*.tfvars
  acm-prod: any of: terraform/acm/*.tf, terraform/acm/*.tfvars
  atlantis-prod: any of: terraform/atlantis/*.tf, terraform/atlantis/*.tfvars
  atlantis-test: any of: terraform/test/*.tf, terraform/test/*.tfvars

fix: Correct S3 backend bucket name for RDS module
  terraform/rds/versions.tf
Due: rds-prod

fix: Correct RDS backend configuration to use prod-connectly
  terraform/rds/versions.tf
Due: rds-prod

fix: Change public subnet filter to uppercase 'Public' to match actual AWS tags
  terraform/fileflow/data.tf
Due: none

fix: Change Private subnet filter to uppercase to match AWS tags
  terraform/fileflow/data.tf
Due: none

fix: Add aws_security_group_rule to tag validation skip list
  scripts/validators/check-tags.sh
Due: none

feat: Add X86_64 runtime platform to FileFlow task definition
  terraform/fileflow/ecs.tf
Due: none

fix: Add ssm:DescribeParameters permission to Atlantis IAM policy
  terraform/atlantis/iam.tf
Due: atlantis-prod

fix: Add comprehensive Describe permissions to Atlantis IAM policy
  terraform/atlantis/iam.tf
Due: atlantis-prod

fix: Add RDS and SSM permissions for comprehensive Atlantis access
  terraform/atlantis/iam.tf
Due: atlantis-prod

fix: Add RDS ListTagsForResource and DescribeDBParameters permissions
  terraform/atlantis/iam.tf
Due: atlantis-prod

fix: Change resource name from snake_case to kebab-case in examples
  terraform/atlantis/examples/basic/main.tf
Due: none

fix: Improve documentation validation script reliability
  scripts/check-terraform-docs.sh
Due: none

feat: Add flexible section name matching to documentation validation
  scripts/check-terraform-docs.sh
Due: none

docs: Update project documentation and security guidelines
  .claude/hooks.json
  .claude/settings.local.json
  README.md
  SECURITY_CHECKLIST.md
  TODO_LIST.md
  claudedocs/fileflow-app-repo-setup.md
  claudedocs/fileflow-cleanup-decision.md
  claudedocs/hybrid-migration-guide.md
  claudedocs/hybrid-vs-centralized-comparison.md
  docs/SECURITY.md
  docs/governance/iam-policies/README.md
  docs/governance/iam-policies/github-actions-permissions.json
  docs/governance/iam-policies/github-actions-role-policy-update.json
  docs/governance/iam-policies/github-actions-trust-policy.json
  docs/guides/hybrid-08-troubleshooting-guide.md
  docs/guides/hybrid-infrastructure-setup-guide-legacy.md
  docs/guides/hybrid-infrastructure-setup-guide.md
  terraform/atlantis/terraform.tfvars.example
Due: none

refactor: Restructure atlantis.yaml with clear sections
  atlantis.yaml
Due: none

feat: Add ECS Service Jinja2 template prototype
  terraform/templates/ecs-service/README.md.j2
  terraform/templates/ecs-service/alb.tf.j2
  terraform/templates/ecs-service/data.tf.j2
  terraform/templates/ecs-service/locals.tf.j2
  terraform/templates/ecs-service/main.tf.j2
  terraform/templates/ecs-service/metadata.json
  terraform/templates/ecs-service/outputs.tf.j2
  terraform/templates/ecs-service/provider.tf.j2
Due: none

feat: Implement Python CLI Infrastructure Wizard (MVP)
  wizard/README.md
  wizard/infra-wizard.py
  wizard/infra-wizard.sh
  wizard/requirements.txt
Due: none

feat: Add code generation and atlantis.yaml auto-update modules
  wizard/atlantis_updater.py
  wizard/generator.py
Due: none

feat: Complete wizard integration with Git automation and PR creation
  SECURITY_CHECKLIST.md
  TODO_LIST.md
  docs/SECURITY.md
  wizard/git_helper.py
  wizard/infra-wizard.py
Due: none

docs: Update wizard README with complete automation pipeline
  wizard/README.md
Due: none

feat: Add fileflow repository to GitHubActionsRole trust policy
  terraform/bootstrap/github-actions.tf
Due: bootstrap-prod

feat: Add fileflow repository to GitHubActionsRole trust policy (#66)
  terraform/bootstrap/github-actions.tf
Due: bootstrap-prod

fix: ECS 모듈 variable validation 수정
  terraform/modules/ecs-service/variables.tf
Due: none

feat: FileFlow 저장소를 GitHubActionsRole trust policy에 추가
  terraform/bootstrap/github-actions.tf
Due: bootstrap-prod

chore: Add SECURITY_CHECKLIST.md with masked sensitive info
  SECURITY_CHECKLIST.md
Due: none

feat: Add script to import existing AWS resources
  scripts/import-existing-resources.sh
Due: none

docs: Add GitHub App installation guide for Atlantis integration
  README.md
Due: none

fix: Resolve Terraform template-module API mismatches
  terraform/templates/ecs-service/main.tf.j2
  terraform/templates/lambda-function/main.tf.j2
Due: none

fix: Add required tags to CloudWatch Log subscription filters
  terraform/modules/cloudwatch-log-group/main.tf
Due: none

docs: Add missing Variables/Outputs sections to README files
  terraform/atlantis/README.md
  terraform/logging/README.md
Due: none

docs: Add missing documentation sections to all Terraform directories
  terraform/ecr/fileflow/README.md
  terraform/monitoring/README.md
  terraform/network/README.md
  terraform/rds/README.md
  terraform/secrets/README.md
  terraform/shared/README.md
  terraform/templates/README.md
Due: none

fix: Resolve Atlantis plan failures for acm-prod and logging-prod
  terraform/acm/README.md
  terraform/acm/main.tf
  terraform/acm/variables.tf
  terraform/logging/provider.tf
Due: logging-prod, acm-prod

fix: Make route53_zone_id optional with auto-lookup fallback
  terraform/acm/README.md
  terraform/acm/main.tf
  terraform/acm/variables.tf
Due: acm-prod
